* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

body {
  background: #f5f7fa;
}

.container {
  display: flex;
  height: 100vh;
}

/* LEFT PANEL - ORANGE */
.left-panel {
  width: 50%;
  padding: 40px;
  color: white;
  opacity: 0.99;
  background-image: linear-gradient(
      rgba(164, 82, 15, 0.85),
      rgba(126, 83, 47, 0.85)
    ),
    url("https://images.unsplash.com/photo-1761227394140-232c73436799?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxtb2Rlcm4lMjBtb3RvcmN5Y2xlJTIwc2lkZXxlbnwxfHx8fDE3NjUwMTU5NzJ8MA&ixlib=rb-4.1.0&q=80&w=1080&utm_source=figma&utm_medium=referral");
  background-size: cover;
  background-position: center;
}

.back-home {
  font-size: 14px;
  opacity: 0.9;
  margin-bottom: 40px;
  cursor: pointer;
}

.logo-text {
  display: flex;
  align-items: center;
  gap: 10px;
  width: max-content;
}
.logo {
  background-color: #ff6a00;
  padding: 10px;
  border-radius: 15px;
}

.logo img {
  width: 45px;
  filter: brightness(0) invert(1);
}

.logo h2 {
  font-size: 26px;
  font-weight: 600;
}

.logo h2 {
  font-size: 26px;
  font-weight: 600;
}

.left-panel h3 {
  margin-top: 50px;
  font-size: 24px;
}

.left-panel p {
  margin-top: 10px;
  opacity: 0.9;
  max-width: 350px;
}

.features {
  margin-top: 40px;
  list-style: none;
}

.features li {
  margin-bottom: 25px;
  font-size: 15px;
}

.check {
  margin-right: 10px;
  font-weight: bold;
  color: white;
  font-size: 16px;
}

footer {
  position: absolute;
  bottom: 20px;
  opacity: 0.7;
}

/* RIGHT PANEL */
.right-panel {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-card {
  width: 450px;
  background: white;
  padding: 40px;
  border-radius: 14px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.signup-card h2 {
  font-size: 22px;
  margin-bottom: 5px;
}

.signup-card .sub {
  font-size: 14px;
  color: gray;
  margin-bottom: 25px;
}

label {
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
}

.input-box input {
  width: 100%;
  padding: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-size: 14px;
  margin-bottom: 15px;
}

.agree {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.agree a {
  color: #ff6a00;
}

.signup-btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: #ff6a00;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}

.login-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.login-link a {
  color: #ff6a00;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
